<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ADALServiceURL" value="https://login.microsoftonline.com" />
    <add key="ARMBillingServiceURL" value="https://management.azure.com" />
    <add key="client_Id" value="**" />
    <add key="client_key" value="**" />
    <add key="tenant" value="**" />
    <add key="GraphResource" value="https://graph.windows.net" />
    <add key="Login" value="https://login.windows.net" />
    <add key="Currency" value="GBP" />
    <add key="OfferId" value="MS-AZR-0036P" />
    <add key="RegionInfo" value="GB" />
    <add key="SubscriptionId" value="**"/>
    <add key="EventHubName" value="billingdemo"/>
    <add key="EventHubConnectionString" value="Endpoint=sb://**.servicebus.windows.net/;SharedAccessKeyName=**;SharedAccessKey=**;EntityPath=**"/>
  </appSettings>
</configuration>